body {
  color: #999;
  font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 742px;

  margin: 20px; /* NOTE: Temporary */
}

a:link, a:visited {
  color: #3b5998;
  font-weight: bold;
  text-decoration: none;
}